In [2]:
import pandas as pd
data=pd.read_csv("spam.csv", encoding='Windows-1252')
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [3]:
data.shape

(5572, 5)

In [4]:
x=data['v2'].values
y=data['v1'].values
x.shape

(5572,)

In [5]:
y.shape

(5572,)

In [6]:

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=0)
x_train

array(['No no:)this is kallis home ground.amla home town is durban:)',
       'I am in escape theatre now. . Going to watch KAVALAN in a few minutes',
       'We walked from my moms. Right on stagwood pass right on winterstone left on victors hill. Address is &lt;#&gt;',
       ...,
       "I was at bugis juz now wat... But now i'm walking home oredi... ÌÏ so late then reply... I oso saw a top dat i like but din buy... Where r Ì_ now? ",
       ":-) yeah! Lol. Luckily i didn't have a starring role like you!",
       'How dare you stupid. I wont tell anything to you. Hear after i wont talk to you:-.'],
      dtype=object)

In [7]:
x_train.shape

(4457,)

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
x_train=cv.fit_transform(x_train)
x_test=cv.transform(x_test)
from sklearn.svm import SVC
svc=SVC()
svc.fit(x_train,y_train)
y_pred=svc.predict(x_test)
y_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [9]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
acc=accuracy_score(y_test,y_pred)
acc

0.9766816143497757

In [10]:
con=confusion_matrix(y_test,y_pred)
print(con)

[[949   0]
 [ 26 140]]

In [11]:
cl=classification_report(y_test,y_pred)
print(cl)

              precision    recall  f1-score   support

         ham       0.97      1.00      0.99       949
        spam       1.00      0.84      0.92       166

    accuracy                           0.98      1115
   macro avg       0.99      0.92      0.95      1115
weighted avg       0.98      0.98      0.98      1115